/DominoDominio/target/
/DominoNegocios/target/
/DominoPresentacion/target/
/DominoDTO/target/
/PresentacionContenedorPantallas/target/
/PresentacionPartidaDomino/target/
/DominoBroker/target/
/DominoEventosClienteServidor/target/
/DominoClientProxy/target/
/SolicitudesRespuestas/target/
/DominoServerProxy/target/
/DominoNegociosNuevo/target/
/PartidaServidor/target/
/PresentacionPartidaDominoProvisional/target/
*.xml
/PresentacionSalaEspera/target/
PartidaServidor/pom.xml
PartidaServidor/pom.xml
DominoNegociosNuevo/pom.xml
PartidaServidor/pom.xml
